
<EDKSYSTEM EDKVERSION="13.1" EDWVERSION="1.2" TIMESTAMP="Mon Sep 26 11:49:37 2011">

  <SYSTEMINFO ARCH="spartan3" DEVICE="xc3s1000" PACKAGE="fg320" PART="xc3s1000fg320-4" SOURCE="/home/brownlab/Documents/Spencer/DDS_Spencer/blah/blah.xmp" SPEEDGRADE="-4"/>

  <EXTERNALPORTS/>

  <MODULES/>

</EDKSYSTEM>